@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding-bottom: 2rem;
}
.exsxfJ .logo {
    fill: rgb(255, 232, 31);
    width: 100%;
    max-width: 45rem;
}
*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.exsxfJ {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 13rem;
}